<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GraphQL" version="2.0.0" targetFramework="net472" />
  <package id="Sitecore.JavaScriptServices.GraphQL" version="13.0.0" targetFramework="net472" />
  <package id="Sitecore.Kernel" version="9.2.0" targetFramework="net472" />
  <package id="Sitecore.Services.GraphQL" version="2.0.0" targetFramework="net472" />
  <package id="Sitecore.Services.GraphQL.ContentSchema" version="2.0.0" targetFramework="net472" />
</packages>